GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      //VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "A simple procedural terrain generator for a demo of how Minecraft terrains generates. Made with C++ and Raylib."
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "terrain-generator"
      VALUE "LegalCopyright", "(c) 2025 TheUnrealZaka & Jowey7"
      //VALUE "OriginalFilename", "raylib_app"
      VALUE "ProductName", "Procedural Terrain Generator"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
